body {
    width: 80%;
    height: 100%;
    align-items: center;
    display: block;
}
.container-wrapper{
    background-color: rgba(250, 235, 215, 0.424);
}

.box {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -20px;
    margin-left: -140px;
    padding: .5in;
    border-radius: 10px;
    background-color: rgba(75, 149, 107, 0.678);
}

.user-wrapper {
    padding: 12px 20px;
    box-sizing: border-box;
    /* text-decoration:rgb(7, 81, 110); */
}

.input-box {
    padding: 12px 20px;
}

.button-wrapper {
    border-radius: 50px;
    background-color: rgb(7, 81, 110);
    margin-top: 30px;
    padding: 3px 45px;
    margin-left: 90px;
    color: beige;
}