body {
    width: 80%;
    height: 100%;
    align-items: center;
    display: block;
    justify-content: center;
}
.container-wrapper{
    background-color: rgba(250, 235, 215, 0.424);
}

.button-wrapper {
    border-radius: 50px;
    background-color: rgb(7, 81, 110);
    margin-top: 30px;
    padding: 3px 45px;
    margin-left: 90px;
    color: beige;
}